* {
  padding: 0;
  margin: 0;
}

html {
  background-color: black;
}

.App {
  text-align: center;
  background-color: black;
  position: absolute;
  width: 100%;
  bottom: 0;
}

#array-container {
  width: 100%;
}

.element-bar {
  margin: 0 1px;
  width: 10px;
  display: inline-block;
  background-color: white;
}
